$primary-color: #1a1a1a;
$secondary-color: #ffffff;
$general-txt-color: #dbb612;
$hero-bg-color: #f5f5f5;
$font-color: #333;
$hero-card-bg: #e0e0e0;
$hero-details-bg: #616161;
$hero-info-bg: #bfbfbf;
